.button {
  background-color: #4caf50; /* Zielony kolor tła */
  border: none;
  color: white; /* Biały kolor czcionki */
  padding: 15px 32px; /* Wielkość wypełnienia */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.form__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

.form__select {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.form__option {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
}
.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-input:focus {
  outline: none;
  border-color: #2ecc71;
}
